*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 80%;
    margin: auto;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: blue;
}

.cv-container{
    padding: 2rem 13rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: rgb(230, 230, 230);
}

.perfil{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.info h1{
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
}

.foto img{
    width: 12rem;
    height: auto;
}

.categoria{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}

.categoria h1{
    font-size: 1.7rem;
    text-align: left;
    font-weight: bold;
}

.ul{
    font-size: 1.3rem;
    text-align: left;
    margin: 0;
}

.ul h3{
    margin: 0.7rem;
    font-size: 1.3rem;
    text-decoration: underline;
}

.ingreso-fin span{
    font-size: 1rem;
    font-weight: normal;
}

.mapa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

.ubicacion{
    width: 40rem;
    height: 20rem;
    border: none;
}

.imagenes-instituto{}